
//Cor
$cor-fundo: #E5FFF0;
$cor-text: #000;
$cor-textWhite: #fff;
$cor-titulo: #8B4513; 
$cor-fundoChat: #F0FFFF; 
$cor-bordaChat: #C2F2E3; 
$cor-btn: #00FD65; 
$cor-atencao: #FF2222;
$cor-btnsERRO: #CF0000;
$cor-borda: #000;
$cor-chamativa: #FFD130;
$cor-textoSucesso: #0E87CB;
//icon
$cor-icon: #281F1E;
